<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marduk AI: Get the most out of your data</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <h1>Marduk AI</h1>
        </div>
        
        <div class="progress-bar">
            <div class="progress-blocks">
                <div class="block"></div>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <div class="copyright">Created by Shahed Khallaghi</div>
    </div>
</body>
</html>